.chores {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: teal;
}

h3 {
    text-decoration-line: underline;
    text-align: center;
}

li {
    font-style: italic;
}