<div class="chores">
   <h3>Chores</h3>
   <ul>
      <li *ngFor ='let chore of chores'>{{chore}}</li>
   </ul>
   <p class= "superP" *ngIf = 'chores.length > finishedChores.length'>
       work harder!
   </p>
</div>
<hr>
<div class="doneChores">
   <h3>Done Chores</h3>
   <ul>
      <li *ngFor ='let done of finishedChores'>{{done}}</li>
   </ul>
   <img src="{{trophyImage}}" *ngIf = "chores.length===0 || finishedChores.length>= chores.length + 3; else noAllowance">

   <ng-template #noAllowance>
       <p>No allowance yet.</p>
   </ng-template>
</div>
<div>
    
</div>
    <h1 *ngIf = "chores.length ===0 && finishedChores.length>=4; else earnIceCream">"Ice cream treat!"</h1>
    <ng-template #earnIceCream>
        <h3>How to Earn Ice Cream</h3>
        <p>you gotta do all your chores.</p>
        <p>you gotta do 4 or more chores.</p>
    </ng-template>
<!-- Finally, if the chores array is empty AND finishedChores contains 4 or more items, display an h1 underneath the lists with the text "Ice cream treat!" Otherwise, display h3 and p elements that describe how to earn ice cream. -->
<hr>




<!-- If the chores array is empty OR the finishedChores array has at least 3 more items than the chores array, display trophyImage under the Done Chores list. Otherwise, use a p tag to display the text, "No allowance yet." -->